.plusimageapply
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/plus.png);
        cursor:pointer;
}
.minusimageapply
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/minus.png);
        cursor:pointer;
}
.selectedimage
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/selected.png);
        cursor:pointer;
}
strong, b {
    font-size: 14px;
}
.site-header {
        max-height: 340px;
        padding-right: 0;
        padding-left: 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        border-radius: 0;
        top: 0;
        border-width: 0 0 1px;
}
blockquote {
    font-size: 20px;
}
a:hover {
    text-decoration: none;
}
