.plusimageapply
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/plus.png);
        cursor:pointer;
}
.minusimageapply
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/minus.png);
        cursor:pointer;
}
.selectedimage
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/selected.png);
        cursor:pointer;
}
img {
	border-radius: 100%;
	height:150px;
	width:150px;
}
strong {
    font-family: Arial;
    font-size: 14px;
}
.site-header {
        max-height: 340px;
        padding-right: 0;
        padding-left: 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        border-radius: 0;
        top: 0;
        border-width: 0 0 1px;
}
blockquote {
    font-size: 20px;
}
.project-card {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin:20px;
}
.project-card > span {
    position:relative;
    top: 70px;
    left:20px;
    font-weight:bold;
}
.project-card > span > a,
.project-card > span > h6 > a{
    color: white;
}
.card-iips-app {
    background-color: #125c9c;
}
.card-iips-app:hover {
    background-color: rgba(18, 92, 156, 0.6);
}
.card-iips-app > span > a {
    color: #D34136;
}
.card-gitoscope {
    background-color: #f7e540;
}
.card-gitoscope:hover {
    background-color: rgba(247, 229, 64, 0.6);
}
.card-gitoscope > span > a {
    color: #000;
}
.card-sjdl {
    background-color: #00a2e8;
}
.card-sjdl:hover {
    background-color: rgba(0, 162, 232, 0.6);
}
.card-sjdl > span > a {
    color: white;
}
.card-slack {
    background-color: #d91852;
}
.card-slack:hover {
    background-color: rgba(217, 24, 82, 0.6);
}
.card-slack > span > a {
    color: black;
}
