<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>
      {% include header.html %}
    </div>
    
    <div id="wrapper" style="margin-bottom: 10%; margin-top: 5.52%;">
      {% include sub-header.html %}

      <button id="menu-toggle" type="button" class="btn btn-default" aria-label="Justify">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>

      <div id="page-content-wrapper" class-"page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
            {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
    {% include footer.html %}
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery-1.11.2.min.js" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/expandcollapsed.js" type="text/javascript"></script>
    <script src="/static/js/comment.js" type="text/javascript"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
